
<table class="table table-hover">
	<thead>
		<th>Tasklist Name</th>
		<th>Due Date</th>
		<th>Update History</th>
	</thead>
	
	<tbody>

	<% @taskli.each do |taskli| %>

		<tr>
			<td><%= taskli.tasklistname %></td>
			<td><%= taskli.duedate %></td>
			<td><%= taskli.updated_at.localtime %></td>
			<td><div class="buttons"><%= link_to "View", tasklist_path(id: taskli.id) %></div></td>
			<td><div class="buttons"><%= link_to "Edit", edit_tasklist_path(id: taskli.id) %></div></td>
			<td><div class="buttons"><%= link_to "Delete", tasklist_path(id: taskli.id), method: :delete %></div></td>

		</tr>

	<% end %>
			
	</tbody>
		
</table>

<div class="buttons"><%= link_to "Create New Tasklist", new_tasklist_path %></div>

<hr>

<h3> All My Tasks </h3>

<table class="table table-hover">
	<thead>
		<th>Task Name</th>
		<th>Due Date</th>
		<th>Priority</th>
		<th>Status</th>

	</thead>
	
	<tbody>

	<% @tas.each do |tas| %>

		<tr>
			<td><%= tas.taskname %></td>
			<td><%= tas.duedate %></td>
			<td><%= tas.priority %></td>
			<td><%= tas.status %></td>

			<!-- deleted the View buttons because id was nil -->
		</tr>

	<% end %>
			
	</tbody>
		
</table>