
<h3>Edit Me...</h3>

<%= form_for @tas, url: tasklist_task_path(tasklist_id: @taskli.id), method: :put do |f| %>

<table class="table table-hover">
	<thead>
		<th><%= f.label :taskname %></th>
		<th><%= f.label :description %></th>
		<th><%= f.label :duedate %></th>
		<th><%= f.label :priority %></th>
		<th><%= f.label :status %></th>

	</thead>
	<tbody>
		<tr>
			<td><%= f.text_field :taskname %></td>
			<td><%= f.text_area :description %></td>
			<td><%= f.date_field :duedate %></td>
			<td><%= f.text_field :priority %></td>
			<td><%= f.text_field :status %></td>
		</tr>
	</tbody>
</table>
<div class="buttons">

	  <%= f.submit "Update" %>
	 </div>
	 <div class=buttons><%= link_to "Back", tasklist_task_path(tasklist_id: @taskli.id) %></div>
<% end %>
